@using TUTOR_NET105_SU23.B2.DAL.Entities;

@model User

<div>
    @string.Concat(Model.Id, " - ",Model.UserName, " - ",Model.Password, " - ",Model.Email, " - ", Model.PhoneNumber,  " - ", Model.Status)
</div>